node_modules/
elm-stuff
.DS_Store
.stack-work
package-lock.json
.vagrant
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.DS_Store
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
Vagrantfile
.shake-work/
/.linuxkit-out/
.commands.out.sh
core-framework.cabal